{% load staticfiles %}
<html>
<head>
    <title>Hello this is djangoo</title>
    <link rel="stylesheet" href="{% static 'firstapp/css/style.css' %}">
</head>
<div>
    <a href="{% url 'firstapp:create' %}">
        <button>Create</button>
    </a>
    {% if access_record %}
        <table>
            <thead>
            <th>Name</th>
            <th>Custom name</th>
            <th>date</th>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
            </thead>
            {% for acc in access_record %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.name|lower|cut:'y' }}</td>
                    <td>{{ acc.date|date:'d-m-Y' }}</td>
                    <td>{{ acc.date|date:'Y'|add:'100' }}</td>
                    <td>{{ acc.date|date:'M' }}</td>
                    <td>{{ acc.date|date:'D' }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No access Records Found</p>
    {% endif %}
</div>
</html>